biopython==1.83
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.1.1
cycler==0.12.1
fonttools==4.51.0
idna==2.8
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
opencv-python==4.9.0.80
packaging==24.0
pillow==10.3.0
pybedtools==0.10.0
pyBigWig==0.3.22
pyparsing==3.1.2
pysam==0.22.0
python-circos==0.3.0
python-dateutil==2.9.0.post0
requests==2.22.0
six==1.14.0
urllib3==1.25.8
ViennaRNA==2.6.4
